<div class="city-selector">
    <mat-form-field appearance="outline" class="city-selector-field">
        <mat-label>Select a City</mat-label>

        <mat-select [value]="selectedCity || ''" (selectionChange)="onCityChange($event)">
            <mat-option value="">-- Choose a city --</mat-option>

            @if (cities.length > 0) {
            @for (city of cities; track city) {
            <mat-option [value]="city">{{ city }}</mat-option>
            }
            } @else {
            <mat-option disabled>No cities available</mat-option>
            }
        </mat-select>
    </mat-form-field>
</div>