.forecast-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  mat-card-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    align-self: center;
  }

  .weather-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .weather-detail {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    mat-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }

  .weather-description {
    text-align: center;
    margin-top: 0.5rem;

    p {
      margin: 0;
      text-transform: capitalize;
    }
  }
}
